a:link       { text-decoration : none ; color: #003366; font-family: verdana, arial, helvetica }
a:visited    { text-decoration : none ; color: #003366; font-family: verdana, arial, helvetica }
a:active     { text-decoration : none ; color: #003366; font-family: verdana, arial, helvetica }
a:hover      { text-decoration : none ; color: #FF0000; font-family: verdana, arial, helvetica }