a.navigation:link { background-color: #08569C; color: #FFFFFF; text-decoration: none }
a.navigation:visited { background-color: #08569C; color: #FFFFFF; text-decoration: none }
a.navigation:active { background-color: #08569C; color: #FFFFFF; text-decoration: none }
a.navigation:hover { background-color: FFFFFF; color: #08569C; text-decoration: none }