body
{
	font-family: Verdana, Arial, Helvetica, sans-serif;	
	font-size: 9px;
	overflow: hidden;
}


#console
{
	width: 650px;
	height: 120px;
	z-index: 10;
/*	position: absolute;*/
	background: white;
}

#user_info
{
	float: left;
	border: 1px solid red;
	height: 100%;
	width:150px;
}
